{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}
    <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Create account</div>
      <div class="card-body">
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form"> 
     
          {{ register_user_form.hidden_tag() }}
          <div class="form-group">
            {{ render_field_with_errors(register_user_form.email, class="form-control") }}
          </div>

          <div class="form-group">
            {{ render_field_with_errors(register_user_form.password, class="form-control") }}
          </div>

          <div class="form-group">
            {% if register_user_form.password_confirm %} 
              {{ render_field_with_errors(register_user_form.password_confirm, class="form-control") }} 
            {% endif %} 
          </div>
          
          <div class="form-group">
            {{ render_field(register_user_form.submit, class="btn btn-primary btn-block") }}
          </div>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Already have an account? Login here!</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}