[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
altgraph = "*"
"aniso8601" = "*"
"asn1crypto" = "*"
astroid = "*"
blinker = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
colorama = "*"
configparser = "*"
cryptography = "*"
"dis3" = "*"
"enum34" = "*"
flask-restplus = "*"
future = "*"
gevent = "*"
graphviz = "*"
greenlet = "*"
"httplib2" = "*"
idna = "*"
ipaddress = "*"
isort = "*"
itsdangerous = "*"
jsonschema = "*"
lazy = "*"
lazy-object-proxy = "*"
macholib = "*"
mccabe = "*"
msgpack-python = "*"
"oauth2" = "*"
oauthlib = "*"
passlib = "*"
pefile = "*"
pipenv = "*"
pycparser = "*"
pydot = "*"
pylint = "*"
pyparsing = "*"
python-crontab = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
pyzmq = "*"
redis = "*"
registry = "*"
requests = "*"
requests-oauthlib = "*"
schedule = "*"
singledispatch = "*"
six = "*"
speaklater = "*"
"urllib3" = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
wrapt = "*"
zerorpc = "*"
Babel = "*"
"backports.functools_lru_cache" = "*"
Flask = "*"
Flask-Admin = "*"
Flask-BabelEx = "*"
Flask-Dance = "*"
Flask-DebugToolbar = "*"
Flask-JWT-Extended = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-OAuth = "*"
Flask-Principal = "*"
Flask-RESTful = "*"
Flask-Script = "*"
Flask-Security = "*"
Flask-Social = "*"
Flask-SQLAlchemy = "*"
Flask-SSLify = "*"
Flask-WTF = "*"
"Jinja2" = "*"
Mako = "*"
MarkupSafe = "*"
PrettyTable = "*"
prompt_toolkit = "*"
Pygments = "*"
PyInstaller = "*"
PyJWT = "*"
pyOpenSSL = "*"
SQLAlchemy = "*"
sqlalchemy_schemadisplay = "*"
SQLAlchemy-Utils = "*"
URLObject = "*"
Werkzeug = "*"
WTForms = "*"
rsa = "*"
"psycopg2-binary" = "*"
bcrypt = "*"

[dev-packages]
eralchemy = "*"

[requires]
python_version = "3.6"
