{% extends "layouts/layout2.html" %}

{% block title %}
Quick-start page
{% endblock %}

{% block breadcrumb %} 
Geral view Dashboard
{% endblock %}

{% block script %} 
<script> 
document.addEventListener('DOMContentLoaded', function main(e) {
  $('#refresh').click(function() {
    window.location.reload();
  });
  
  function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }

  var d = new Date(); 
  var h = addZero(d.getHours());
  var m = addZero(d.getMinutes());
  var s = addZero(d.getSeconds());
  document.getElementById("demo").innerHTML = "Last update on " + d.toDateString() + ", precisely at: "+ h + ":" + m + ":" + s;
});
</script>
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
      <div class="row"> 
          <div class="col-10">
            <h2> 
              <i class="fa fa-area-chart"></i> Dashboard
            </h2>
          </div>
          <div class="col">
            <a class="btn btn-primary" >
              <i class="fa fa-refresh fa-spin fa-lg fa-fw " id="refresh"></i>
            </a>
          </div>
      </div>
    </div>


<div class="container">
<br/>
    <!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="mr-5">{{ json_size }} Machines!</div>
        </div>

      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw fa-list"></i>
          </div>
          <div class="mr-5">{{ count }} Reports Done!</div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fab fa-linux"></i>
          </div>
          <div class="mr-5">{{ count_lin }} Linux Reports!</div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fab fa-windows"></i>
          </div>
          <div class="mr-5">{{ count_win }} Windows Reports!</div>
        </div>
      </div>
    </div>
  </div>



  <!-- Example DataTables Card-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Data Table </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>System</th>
              <th>Version</th>
              <th>Release</th>
              <th>Machine</th>
              <th>Processor</th>
              <th>Machine ID</th>
              <th>Test One</th>
              <th>Test Two</th>
            </tr>
          </thead>
          {% for i in range(json_size) %}       
            <tbody>
              <tr>
                <td>{{ APIcall[i]["system"] }}</td>
                <td>{{ APIcall[i]["version"] }}</td>
                <td>{{ APIcall[i]["release"] }}</td>
                <td>{{ APIcall[i]["machine"] }}</td>
                <td>{{ APIcall[i]["processor"] }}</td>
                <td>{{ APIcall[i]["machine_id"] }}</td>
                <td>{{ APIcall[i]["testone"] }}</td>
                <td>{{ APIcall[i]["testtwo"] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted" id="demo"> </div>
  </div>

  <form method="POST" action="/machines_del" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <strong>Title</strong> --> {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
  
        <div class="form-group">
            {{ form.machine_id.label(class="form-control-label") }}
            {% if form.machine_id.errors %}
                {{ form.machine_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.machine_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.machine_id(class="form-control form-control-lg") }}
            {% endif %}
        </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-danger btn-block") }}
          </div>
    </fieldset>
  
  </form>

</ul>
</div>
</div>
{% endblock %}


    