{% extends "layouts/layout2.html" %}

{% block title %}
Quick-start page
{% endblock %}

{% block breadcrumb %} 
Geral view of all machines running the agent
{% endblock %}

{% block script %} 
<script> 
document.addEventListener('DOMContentLoaded', function main(e) {
  $('#refresh').click(function() {
    window.location.reload();
  });
  
  function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }

  var d = new Date(); 
  var h = addZero(d.getHours());
  var m = addZero(d.getMinutes());
  var s = addZero(d.getSeconds());
  document.getElementById("demo").innerHTML = "Last update on " + d.toDateString() + ", precisely at: "+ h + ":" + m + ":" + s;
});
</script>
{% endblock %}

{% block content %}


<div class="card mb-3">
    <div class="card-header">
      <div class="row"> 
          <div class="col-10">
            <h2> 
              <i class="fa fa-laptop"></i> History of machines 
            </h2>
          </div>
          <div class="col">
            <a class="btn btn-primary" >
              <i class="fa fa-refresh fa-spin fa-lg fa-fw " id="refresh"></i>
            </a>
          </div>
      </div>
    </div>

    <!-- Representation of the scans -->
    <div class="card-body">
      <div class="row">
        {% for i in range(json_size) %}
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header text-center">
              <span class="badge badge-pill badge-primary"><i class="fa fas fa-desktop"></i></span> {{ APIcall[i]["node"] }}              
            </h3>

            <a class="list-group-item list-group-item-action">
              <span class="badge badge-pill badge-light">
                  <h3>
                    {% if (APIcall[i]["system"] == "Windows") %}
                      <i class="fa fab fa-windows"></i>  
                    {% endif %} 
                    {% if (APIcall[i]["system"] == "Linux") %}
                      <i class="fa fab fa-linux"></i> 
                    {% endif %}

                    {% if (APIcall[i]["system"] == "Apple") %}                                       
                    <i class="fa fab fa-apple"></i>
                    {% endif %} 
                  </h3> 
              </span>
              {{ APIcall[i]["system"] }}
              
              {{ APIcall[i]["release"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
              <span class="badge badge-pill badge-light">
                <h3><i class="fa fas fa-history"></i> </h3> 
              </span>
              Version:
              {{ APIcall[i]["version"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
              <span class="badge badge-pill badge-light">
                <h3> <i class="fa fab fa-connectdevelop"></i></h3> 
              </span> 
              Architecture:
              {{ APIcall[i]["machine"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
              <span class="badge badge-pill badge-light">
                <h3> <i class="fa fas fa-microchip"></i> </h3> 
              </span>
              {{ APIcall[i]["processor"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
                <span class="badge badge-pill badge-light">
                  <h3> <i class="fa fas fa-microchip"></i> </h3> 
                </span>
                {{ APIcall[i]["machine_id"] }}
              </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="card-footer small text-muted" id="demo"> </div>
  </div>
</div>
{% endblock %}


    