{% extends "layouts/layout2.html" %}

{% block title %}
Quick-start page
{% endblock %}

{% block breadcrumb %} 
Quick Start
{% endblock %}

{% block script %} 
<script> 
document.addEventListener('DOMContentLoaded', function main(e) {  


  // <form method="post" action="/upload" enctype=multipart/form-data>
  //         <input type="file" name="file">
  //         <input type="submit" value="Upload">
  //       </form>


  // $('#Upload').on('click', function(event) {
  //   var form = document.getElementById('upload')


  //   var formData = new FormData(form);
  //   formData.append('file', file);
    
  //   // var formData = new FormData(form);
  //   // formData.append("thefile", file);
  //   var xhr = new XMLHttpRequest();
  //     xhr.open("POST", "upload" , true);
  //     xhr.send(formData);
  // });

  $('#get-checked-data').on('click', function(event) {
      event.preventDefault(); 
      
      var checkedItems = [], counter=0;
      
      //alert(document.querySelectorAll('input[type="checkbox"]:checked').length);
      checks = document.querySelectorAll('input[type="checkbox"]:checked').length
      if(checks == 0) alert("You haven't select any configuration... Maybe, just maybe you wanna do it!");
      $(document.getElementById("Checkbox").checked == true).each(function() {
        for (var i=0; i<checks; i++){
          checkedItems.push(document.getElementById("TypeOfTest"+i).value);
          //console.log(checkedItems)
       }
      });
      
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "create1" , true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
        checkedItems
      }));
  });
});
</script>

{% endblock %}

{% block content %}
<style>
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
</style>

<div class="card mb-3">
    <div class="card-header">
      <div class="row"> 
        <div class="col-10">
          <h2> 
            <i class="fa fas fa-road"></i> Getting started with Zeus
          </h2>
        </div>
      </div>
    </div> 

    <!-- Nav tab to switch between the quickstart -->
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-intro-tab" data-toggle="tab" href="#nav-intro"
        role="tab" aria-controls="nav-intro" aria-selected="true">Introduction</a>

      <a class="nav-item nav-link" id="nav-config-tab" data-toggle="tab" href="#nav-config" 
      role="tab" aria-controls="nav-config" aria-selected="false">Prepare the agent configuration</a>

      <a class="nav-item nav-link" id="nav-download-tab" data-toggle="tab" href="#nav-download"
      role="tab" aria-controls="nav-download" aria-selected="false">Download time!</a>

      <a class="nav-item nav-link" id="nav-run-tab" data-toggle="tab" href="#nav-run"
      role="tab" aria-controls="nav-run" aria-selected="false">Run the agent!</a>

      <a class="nav-item nav-link" id="nav-next-tab" data-toggle="tab" href="#nav-next"
      role="tab" aria-controls="nav-next" aria-selected="false">Next steps</a>
    </div>
    
    <div class="tab-content" id="nav-tabContent">
       <!-- Start Introduction -->
      <div class="tab-pane fade show active" id="nav-intro" role="tabpanel" aria-labelledby="nav-intro-tab">
        <li class="list-group-item"> 
          <h5>
          <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            Introduction 
          </h5>  
          <p>This tutorial will have you deploying Zeus agent in minutes.</p>
          <p>Hang on for a few more minutes to learn how to configure the agent, so you can make the most out of Zeus.</p>
          <p>The tutorial assumes that you have:</p>
          <ul>
            <li> Python version 3.6 installed on the machine - see the installation guides for 
                <a href="http://docs.python-guide.org/en/latest/starting/install3/osx/" target="_blank">OS X</a>,
                <a href="http://docs.python-guide.org/en/latest/starting/install3/win/" target="_blank">Windows</a>,
                <a href="http://docs.python-guide.org/en/latest/starting/install3/linux/" target="_blank">Linux</a>.
            </li>
            <li> mais++</li>
          </ul>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-config-tab').click();" >
            Next
          </button>
        </li>
      </div>
      <!-- End Introduction -->

    <!-- Start Configuration -->
    <div class="tab-pane fade" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
      <li class="list-group-item"> 
        <h5>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-tasks fa-stack-1x fa-inverse"></i> 
        </span>
        Define the agent configuration
        </h5>
        <p>In this step, you will prepare a simple configuration for the agent to be deployed.</p>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label class="switch">
                <input type="checkbox" id="Checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <input type="text" class="form-control" id="TypeOfTest0" value="DetectOS" readonly> 
        </div>
        <p>Gets information about the current machine(Name, version, operating system, and other details.) </p>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label class="switch">
                <input type="checkbox" id="Checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <input type="text" class="form-control" id="TypeOfTest1" value="NewScan" readonly> 
        </div>
        <p>Here you can activate your added scan </p>
        <p>First, add your scan with this rules: função com run() sadasd Meter aqui um scan exemplo</p>
        
        
        <form method="post" action="/upload" enctype=multipart/form-data>
          <input type="file" name="file">
          <input type="submit" value="Upload" id="Upload">
        </form>

        
        <button class="btn btn-primary col-xs-12" id="get-checked-data">Activate the agent configuration</button>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-download-tab').click();" >
            Next
        </button>
      </li>  
    </div>
    <!-- End Configuration -->

    <!-- Start Download -->
    <div class="tab-pane fade" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">
      <li class="list-group-item" id="download"> 
        <h5>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-download fa-stack-1x fa-inverse"></i> 
        </span>
        Download
        </h5>
        <p>You're ready to go, download the agent and use it on your machines!</p>
        <div class="col-xl-3 col-sm-10 mb-3">
            <a href="/return-file/" class="btn btn-primary "> Download </a>
        </div>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-run-tab').click();" >
            Next
        </button>
      </li>
      </div>
      <!-- End Download -->
      
      <!-- Start run -->
      <div class="tab-pane fade" id="nav-run" role="tabpanel" aria-labelledby="nav-run-tab">
          <li class="list-group-item"> 
            <h5> 
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            Lets run the configured agent!
            </h5>
            <div class="alert alert-dark" role="alert">python zeus.py </div>  
            <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-next-tab').click();" >
                Next
            </button>
          </li>
        </div>
      <!-- End run -->

      <!-- Start next -->
      <div class="tab-pane fade" id="nav-next" role="tabpanel" aria-labelledby="nav-next-tab">
        <li class="list-group-item"> 
            <h5>
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trophy fa-stack-1x fa-inverse"></i> 
          </span>
          You reach to the final, it's easy isn't it?
          </h5>
          <p>In this step, you will prepare a simple configuration for the agent to be deployed.</p>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" >
              Deep into dashboard and enjoy!
          </button>
        </li>
      </div>
      <!-- End next -->
</div>
{% endblock %}
