{% extends "layouts/layout2.html" %}

{% block title %}
Quick-start page
{% endblock %}

{% block breadcrumb %} 
Quick Start
{% endblock %}

{% block script %} 
<script>


document.addEventListener('DOMContentLoaded', function main(e) {  
  
  $('#get-checked-data').on('click', function(event) {
      event.preventDefault(); 
      var checkedItems = [], counter=0;
      
      //alert(document.querySelectorAll('input[type="checkbox"]:checked').length);
      checks = document.querySelectorAll('input[type="checkbox"]:checked').length
      if(checks == 0) alert("You haven't select any configuration... Maybe, just maybe you wanna do it!");
      $(document.getElementById("Checkbox").checked == true).each(function() {
        for (var i=0; i<checks; i++){
          checkedItems.push(document.getElementById("TypeOfTest"+i).value);
          //console.log(checkedItems)
       }
      });
      
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "create1" , true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
        checkedItems
      }));
      div= document.getElementById("alertuser");
      div.style.display="block"
  });
});
</script>

{% endblock %}

{% block content %}
<style>
#alertuser{
  display:none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
</style>

<div class="card mb-3">
    <div class="card-header">
      <div class="row"> 
        <div class="col-10">
          <h2> 
            <i class="fa fas fa-road"></i> Getting started with Zeus
          </h2>
        </div>
      </div>
    </div> 

    <!-- Nav tab to switch between the quickstart -->
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-intro-tab" data-toggle="tab" href="#nav-intro"
        role="tab" aria-controls="nav-intro" aria-selected="true">Introduction</a>

      <a class="nav-item nav-link" id="nav-config-tab" data-toggle="tab" href="#nav-config" 
      role="tab" aria-controls="nav-config" aria-selected="false">Prepare the agent configuration</a>

      <a class="nav-item nav-link" id="nav-download-tab" data-toggle="tab" href="#nav-download"
      role="tab" aria-controls="nav-download" aria-selected="false">Set up</a>

      <a class="nav-item nav-link" id="nav-run-tab" data-toggle="tab" href="#nav-run"
      role="tab" aria-controls="nav-run" aria-selected="false">Run the agent!</a>

      <a class="nav-item nav-link" id="nav-next-tab" data-toggle="tab" href="#nav-next"
      role="tab" aria-controls="nav-next" aria-selected="false">Next steps</a>
    </div>
    
    <div class="tab-content" id="nav-tabContent">
       <!-- Start Introduction -->
      <div class="tab-pane fade show active" id="nav-intro" role="tabpanel" aria-labelledby="nav-intro-tab">
        <li class="list-group-item"> 
          <h5>
          <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            Introduction 
          </h5>  
          <p>This tutorial will have you deploying Zeus agent in minutes.</p>
          <p>Hang on for a few more minutes to learn how to configure the agent, so you can make the most out of Zeus.</p>
          <p>The tutorial assumes that you have:</p>
          <ul>
            <li> <b>Python</b> version 3.6 installed on the machine - see the installation guides for 
                <a href="http://docs.python-guide.org/en/latest/starting/install3/osx/" target="_blank">OS X</a>,
                <a href="http://docs.python-guide.org/en/latest/starting/install3/win/" target="_blank">Windows</a>,
                <a href="http://docs.python-guide.org/en/latest/starting/install3/linux/" target="_blank">Linux</a>.
            </li>
            <li> <b>Pip</b> installed, if not we have prepared you a gift! So don't worry about this, we will explain you this on the "Set up" section</li>
          </ul>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-config-tab').click();" >
            Next
          </button>
        </li>
      </div>
      <!-- End Introduction -->

    <!-- Start Configuration -->
    <div class="tab-pane fade" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
      <li class="list-group-item"> 
        <h5>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-tasks fa-stack-1x fa-inverse"></i> 
        </span>
        Define the agent configuration
        </h5>
        <p>In this step, you will prepare a simple configuration for the agent to be deployed.</p>
        <p>By default the DetecOS test set is already activated, so if you just want simple 
          scan on your machine, you are ready to go! </p>
        <p>DetectOS, gets information about the current machine(Name, version, operating system, 
          and other details) and detects if the machine is running lsaas(Process that is 
          responsible for enforcing the security policy in Windows systems) or is running anti-virus
        </p>
        <hr>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label class="switch">
                <input type="checkbox" id="Checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <input type="text" class="form-control" id="TypeOfTest0" value="DetectOS" readonly> 
        </div>
        <hr>
        
        
        <p>Here you can activate a new scan added by you! </p>
        <p>But first, check if your scan have this "rules":</p>
        <ul>
          <li>Python file </li>
          <li>The scan must be runned with a function called runscan() </li>
            <ul type="circle"> Example:
              <li>def runscan(): </li> 
            </ul>
          <li>Return JSON, 
              <a href="https://jsonlint.com/" target="_blank"> validate your JSON here!</a>
           </li>
           <li> The object names must be:"TestResult" or "TestResult2"
           </li>
        </ul>
        <p>Here you can upload your script to be runned on your machine</p>

        <form method="post" action="/upload" enctype=multipart/form-data>
          <input type="file" name="file" value="Choose script" >
          <input type="submit" value="Upload" id="Upload">
        </form>

        <hr>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <label class="switch">
                <input type="checkbox" id="Checkbox">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <input type="text" class="form-control" id="TypeOfTest1" value="NewScan" readonly> 
        </div>
        <hr>
        
        <button class="btn btn-primary col-xs-12" id="get-checked-data" >
          Activate the agent configuration
        </button>
        <hr>

        <div id="alertuser">
          <div class="alert alert-success" role="alert" >
            <strong>Well done!</strong> You successfully activated the agent configuration.
          </div>
        </div>

        <button type="button" class="btn btn-outline-success btn-lg btn-block"  onclick="$('#nav-download-tab').click();" >
            Next
        </button>
      </li>  
    </div>
    <!-- End Configuration -->

    <!-- Start Download -->
    <div class="tab-pane fade" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">
      <li class="list-group-item" id="download"> 
        <h5>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i> 
        </span>
        Set up
        </h5>
        <p> In this step you will download the Zeus agent, learn how to setup the agent in better aways and install some dependencies 
          needed to run the agent and provide communication between agent and server API.</p>
        <p> So, first download the agent:</p>
        <div class="col-xl-3 col-sm-10 mb-3">
          <a 
            href="/return-file/" class="btn btn-primary"> 
            <i class="fa fa-download">  Download</i>
          </a>
        </div>
        <p> Once downloaded the agent extract the folder where you want.</p>
        <p> To unzip the file you just need to:</p>
        
        <ul><li> <b>On Linux:</b></li></ul>
        <p> Install unzip if you haven't installed:</p>
        <div class="alert alert-dark" role="alert">sudo apt-get install unzip </div> 
        <p> Unzip the file to where you want to save it:</p>
        <div class="alert alert-dark" role="alert"> unzip Zeus-Agent.zip -d destination_folder </div> 
        
        <ul><li> <b>On Windows, via powershell: </b></li></ul>
        <div class="alert alert-dark" role="alert">Expand-Archive 'C:\downloadfolder\Zeus-Agent.zip' -Destinati
            onPath C:\destination_folder </div>  

        <p> We need to install some packages, and it's here that we give you a little present!</p>
        <p> The next script will install for you the package manager(pip) and packages needed to run the agent:</p>
        <div class="alert alert-dark" role="alert"> python install.py </div> 
        
        <p> Check next step, we gonna learn how to deploy the agent on the machines.</p>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-run-tab').click();" >
            Next
        </button>
      </li>
      </div>
      <!-- End Download -->
      
      <!-- Start run -->
      <div class="tab-pane fade" id="nav-run" role="tabpanel" aria-labelledby="nav-run-tab">
          <li class="list-group-item"> 
            <h5> 
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            Lets run the configured agent!
            </h5>
            <p> In this step you will deploy the agent making it sending data to the server. You will receive on your email a report from the scanned machine. </p>
            <p> Run the script: </p>
            <div class="alert alert-dark" role="alert">python zeus.py </div>
            <p> If you're on Linux, we can some improvementes like:</p>
            <ul><li> <b>Start the agent and restart it if it crashes</b></li></ul>  
            <ul><li> <b>Run the agent in background:</b></li></ul>  
            <div class="alert alert-dark" role="alert"> nohup monitor.sh & </div> 
            <ul><li> <b>Continue running the agent after reboot:</b></li></ul>  
            <p> Open crontab configuration with: </p>
            <div class="alert alert-dark" role="alert"> crontab -e </div>
            <p> Insert this rule associated with the path where the agent is located: </p>
            <div class="alert alert-dark" role="alert"> @reboot  /path/to/script </div>  
            <p> You have done the job! </p>
            <button type="button" class="btn btn-outline-success btn-lg btn-block" onclick="$('#nav-next-tab').click();" >
                Next
            </button>
          </li>
        </div>
      <!-- End run -->

      <!-- Start next -->
      <div class="tab-pane fade" id="nav-next" role="tabpanel" aria-labelledby="nav-next-tab">
        <li class="list-group-item"> 
            <h5>
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trophy fa-stack-1x fa-inverse"></i> 
          </span>
          You reach to the final, it's easy isn't it?
          </h5>
          <p>You've reached the final of the this tutorial, has you can see it's pretty easy!</p>
          <p>You know how configurate the test set, run the agent and improve the perfomance of the agent!</p>
          <a href="/dashboard" style="text-decoration:none">
            <button type="button" class="btn btn-outline-success btn-lg btn-block" >
              Deep into dashboard and enjoy!
            </button>
          </a>
        </li>
      </div>
      <!-- End next -->
</div>
{% endblock %}
