{% extends "layouts/layout1.html" %}


{% block title %}
  Zeus homepage
{% endblock %}


{% block content %}
<style>  
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  imgn {
      border-radius: 5px 5px 0 0;
  }
  
  .containern {
      padding: 2px 16px;
  }
  section.pricing {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#007b5e;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0b2";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f06e";
}
#what-we-do .card .block-5:before{
    content: "\f0c2";
}
#what-we-do .card .block-6:before{
    content: "\f15c";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
</style>
<div class="container"> 
<!-- Services section -->
<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">What we do</h2>
			<p class="text-center text-muted h5">Manage all your infraestructure with just one platform!</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Scalable</h3>
							<p class="card-text">A platform where you can make your own scripts to deploy on the agent! </p>
              
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Easy setup</h3>
							<p class="card-text">No complexity. No overthinking. Configure everything via web. Simple and powerfull!</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Quick start</h3>
							<p class="card-text">A detailed quick start for users to understand better the platform and to scale it if they want.</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Monitoring</h3>
							<p class="card-text">Improve your security by deploying monitoring services.</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Cloud app</h3>
							<p class="card-text">Deployed with Heroku, giving us more flexibility, security, mobility and even disaster recovery!</p>
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Reports</h3>
							<p class="card-text">Automated generation of reports, sended via email.</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- /Services section -->

</div>
<div class="container"> 
  <hr>
  <div class="row">
    <div class="col text-center">
      <img src="/flask/static/img/pag1/custome.png"  style="width:60%" > 
      <h4>Customization and Plan</h4>
    </div>
    <div class="col text-center">
      <img src="/flask/static/img/pag1/crossplatforme.png"> 
      <h4>Cross platform</h4>
    </div>
    <div class="col text-center">
      <img src="/flask/static/img/pag1/timee.png" style="width:60%"> 
      <h4>Time saver!</h4>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container">
    <hr>
    <h2 class="my-4">  With Zeus, You can: </h2>
    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-plan-list" 
            data-toggle="list" href="#list-plan" role="tab" aria-controls="plan">
              <h3>              
                <i class="fa fa-list-alt" aria-hidden="true" ></i>             
              Plan
              </h3>
              
            </a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" 
              data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
              <h3>
              <i class="fa fa-pencil-square" aria-hidden="true"></i> 
              Download
              </h3>
            </a>

            <a class="list-group-item list-group-item-action" id="list-messages-list" 
            data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
            <h3>
            <i class="fa fas fa-crosshairs"></i>  
              Verify
            </h3>  
            </a>

            <a class="list-group-item list-group-item-action" id="list-settings-list" 
            data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
              <h3>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                Monitor  
              </h3>
            </a>
            
          </div>
        </div>
        
        <!-- Content  -->
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-plan"
             role="tabpanel" aria-labelledby="list-plan-list">
              <h2> You decide the testset </h2>
              <div class="description">
                <li> Use the test created by Zeus team</li>
                <li> Use your own tests</li>
                <li> Use tests made by the community</li>
                <img src="/static/img/configuration1.png"  style="width:100% " >
              </div>
            </div>

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <h2> Download Zeus </h2>
              <div class="description">
                <li> Create a user or login</li>
                <li> Go to your dashboard and select QuickStart</li>
                <li> Select the test that you want to run on your PC</li>
                <li> Download it</li>
                <img src="/static/img/quickstart.png"  style="width:100% " >
              </div>
            </div>

            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <h2> Run ZEUS on your PC </h2>
              <div class="description">
                <li> Quick deploy</li>
                <li> No impact on your network infraestructure</li>
                <li> Agent-based Assessment</li>
                <img src="/static/img/historic.1.png"  style="width:100% " >
              </div>
            </div>

            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
              <h2> Watch out for those reports </h2>
              <div class="description">
                <li> Automated reports with the results sended to your email</li>
                <li> See all your reports at dashboard</li>
                <img src="/static/img/zeus1.png"  style="width:100% " >
              </div>
            </div>
          </div>
        </div>
      </div>

    <hr>
    <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
    <section class="pricing py-5">
      <div class="container">
        <div class="row">
          <!-- Free Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                <h6 class="card-price text-center">0€<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Single User</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Unlimited usage of the agent</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Unlimited scans per day</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Guide to the first steps</li>
                  <li class="text-muted"><span class="fa fa-li"><i class="fas fa-times"></i></span>Customizable report</li>
                  <li class="text-muted"><span class="fa fa-li"><i class="fas fa-times"></i></span>Filter reports do you wanna receive</li>
                  <li class="text-muted"><span class="fa fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                </ul>
                <a href="/register" class="btn btn-block btn-primary text-uppercase">Create free account </a>
              </div>
            </div>
          </div>
          <!-- Plus Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                <h6 class="card-price text-center">9€<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Single User</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Unlimited usage of the agent</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Unlimited scans per day</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Guide to the first steps</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Customizable report</li>
                  <li class="text-muted"><span class="fa fa-li"><i class="fas fa-times"></i></span>Filter reports do you wanna receive</li>
                  <li class="text-muted"><span class="fa fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                </ul>
                <a  class="btn btn-block btn-primary text-uppercase ">Not available</a>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                <h6 class="card-price text-center">21€<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Single User</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Unlimited usage of the agent</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Unlimited scans per day</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Guide to the first steps</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Customizable report</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Filter reports do you wanna receive</li>
                  <li><span class="fa fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                </ul>
                <a class="btn btn-block btn-primary text-uppercase">Not available</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Front-end</h2>
        <p>See what´s happening with your machine:</p>
        <ul>
          <li>
            <strong>Reports</strong>
          </li>
          <li>Send it to your email</li>
          <li>See the evolution of your machines</li>
          <li>Use it everywhere</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Everytime that you run Zeus a report will be made with the results of the scan, you can see the reports on your dashboard. Also will be create a Pdf and we will send it to your email account.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="/flask/static/img/pag1/DriverEasye.png" >
      </div>
    </div>

    <hr>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="/flask/static/img/pag1/cloude.png" style="width:50%" alt=""> 
        </div>
        <div class="col-lg-6">
          <h2>Back-end</h2>
          <p>Why would you choose our service over other in the market:</p>
          <ul>
            <li>
              <strong>OPEN SOURCE</strong>
            </li>
            <li>Make your own tests</li>
            <li>Recent Technologies</li>
            <li>Supported on Windows/Linux</li>
          </ul>
          <p>We tried to create a structure where we could easly deploy tests and we would pull this tests together and let you choose which test to run. And that how we create ZEUS, Agent Based Vulnerabilites Assessment. </p>
        </div>
    </div>
    <hr>

    <h2>Made and thanks to: </h2>
    <div class="row">

      <a href="https://www.python.org/" style="text-decoration:none"> 
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center">
              <img src="/flask/static/img/pag1/pythone.png"  style="width:50% " >
              <h4><b>Python</b></h4> 
          </div>
        </div>
      </a>
      </div>

      <a href="http://flask.pocoo.org/" style="text-decoration:none">
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center" >
              <img src="/flask/static/img/pag1/flaske.jpg"  style="width:55% ">
              <h4><b>Flask</b></h4> 
          </div>
        </div>
      </a>
      </div>

      <a href="https://github.com/" style="text-decoration:none"> 
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center">
            <img src="/flask/static/img/pag1/githube.png"  style="width:50% ">
            <h4><b>Github</b></h4> 
          </div>
        </div>
      </a>
      </div>
      
      <a href="https://code.visualstudio.com/"  style="text-decoration:none" > 
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center" >
              <img src="/flask/static/img/pag1/VSCodee.png"  style="width:50% " >
            <h4><b>VS Code</b></h4>
          </div>
        </div>
      </a>
      </div>
      
      <a href="https://www.getpostman.com/"  style="text-decoration:none" >  
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center" >
            <img src="/flask/static/img/pag1/postmane.png"  style="width:50% " >
            <h4><b>Postman</b></h4>
          </div>
        </div>
      </a>
      </div>
        
      <a href="https://fontawesome.com/" style="text-decoration:none" >
        <div class="col-lg-2 col-sm-4 mb-4">
          <div class="card">
            <div class="containern text-center">
              <img src="/flask/static/img/pag1/Font_Awesomee.png"  style="width:55%"  >
              <h6><b>Font Awesome</b></h6>
            </div>
          </div>
        </a>
      </div>
      
      <a href="https://www.vagrantup.com/" style="text-decoration:none" >
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center" >
              <img src="/flask/static/img/pag1/vagrante.png"  style="width:50% " >
              <h4><b>Vagrant</b></h4>
          </div>
        </div>
      </a>
      </div>

      <a href="https://www.postgresql.org/" style="text-decoration:none" >
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center" >
              <img src="/flask/static/img/pag1/Postgresqle.png"  style="width:55% " >
              <h5><b>PostgreSQL</b></h5>
          </div>
        </div>
      </a>
      </div>

      <a href="https://www.sourcetreeapp.com/" style="text-decoration:none" >
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card">
          <div class="containern text-center" >
              <img src="/flask/static/img/pag1/sourcetreee.jpg"  style="width:45%">
              <h4><b>Sourcetree</b></h4>
          </div>
        </div>
      </a>
      </div>

      <a href="https://www.heroku.com/" style="text-decoration:none" style="text-decoration:none">
        <div class="col-lg-2 col-sm-4 mb-4">
          <div class="card">
            <div class="containern text-center" >
                <img src="/flask/static/img/pag1/herokue.jpg"  style="width:55%">
                <h4><b>Heroku</b></h4>
            </div>
          </div>
      </a>
      </div>


      <a href="https://git-scm.com/" style="text-decoration:none" >
        <div class="col-lg-2 col-sm-4 mb-4">
          <div class="card">
            <div class="containern text-center" >
                <img src="/flask/static/img/pag1/gitbashe.png"  style="width:60%">
                <h4><b>Git </b></h4>
            </div>
          </div>
      </a>
      </div>


      <div class="col-lg-2 col-sm-4 mb-4">
          <div class="card">
            <div class="containern text-center" >
              <a href="https://www.sqlalchemy.org/">
                <img src="/flask/static/img/pag1/sqla_logoe.png"  style="width:100% " >
                <small class="text-muted">And many others...</small>
              </a>
            </div>
          </div>
        </div>

 <!-- 
      <a href="" style="text-decoration:none" >
        <div class="col-lg-2 col-sm-4 mb-4">
          <div class="card">
            <div class="containern text-center" >
                <img src=""  style="width:45%">
                <h4><b>Heroku</b></h4>
            </div>
          </div>
      </a>
      </div>  -->

  </div>
</div>




<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Zeus 2018</p>
  </div>
  <!-- /.container -->
</footer>

{% endblock %}