{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block title %}
  Login page
{% endblock %}

{% block content %}

<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header"> <h4>Login</h4></div>
    <div class="card-body">
      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flash">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {{ login_user_form.hidden_tag() }}
        <div class="form-group">
          {{ render_field_with_errors(login_user_form.email, class="form-control", ) }}
        </div>

        <div class="form-group">  
          {{ render_field_with_errors(login_user_form.password, class="form-control") }}
          <a class="d-block small" href="/reset_password">Forgot your password?</a>
        </div>
        
        <div class="form-group">
          <label class="form-check-label">
            {{ render_field_with_errors(login_user_form.remember) }}
          </label>
        </div> 

        <div class="form-group" >
          {{ render_field(login_user_form.submit, class="btn btn-primary btn-block") }}
        </div> 
      </form>

      <div class="text-center">
        <a class="d-block small mt-3" href="/register">New to Zeus? Create an Account</a>
      </div>
  </div>
</div>
{% endblock %}
