{% extends "layouts/layout1.html" %}
{% block title %}
  About
{% endblock %}


{% block content %}
  <body>

    <!-- Page Content -->
    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>
      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-lg-6">
          <h2>About Zeus</h2>
          <p> The present project was elaborated within the scope of the final project discipline. </p>
          <p>The objective of this project is to develop and make available a system to monitor a set of machines and services, capable of summarizing information at a central point, available through the web interface. This should provide information about possible vulnerabilities, generate reports of the analyzes made and possibly possible solutions to the problems encountered.</p>
          <p>For this user will have available in the web application a cross-platform agent. This agent must be installed on the target machines, being responsible for running tests in the defined time intervals and communicating results to the server </p>
        </div>
      </div>

      <!-- Team Members -->
      <h2>Our Team</h2>

      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Alexandre Sequeira</h4>
              <p class="card-text">Undergraduate degree in Computer Engineering at IPT(Instituto Politécnico de Tomar)</p>
            </div>
            <div class="card-footer">
              <a href="#">alex-sequeira@hotmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Ricardo Pinto </h4>
              <p class="card-text">Undergraduate degree in Computer Engineering at IPT(Instituto Politécnico de Tomar)</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <h2>Our coordinators</h2>
      <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
              <img class="card-img-top" src="http://placehold.it/750x450" alt="">
              <div class="card-body">
                <h4 class="card-title">Luís Oliveira</h4>
                <p class="card-text"> </p>
              </div>
              <div class="card-footer">
                <a href="#">name@example.com</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
              <img class="card-img-top" src="http://placehold.it/750x450" alt="">
              <div class="card-body">
                <h4 class="card-title">Renato Panda</h4>
                <p class="card-text"> </p>
              </div>
              <div class="card-footer">
                <a href="#">name@example.com</a>
              </div>
            </div>
          </div>
        </div>
    

    </div>


{% endblock %}