{% extends "layouts/layout1.html" %}

{% block content %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <!-- <div class="card-header">Account Info</div> -->
      <div class="card-body">
        <form method="POST" action="/reseted" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <div class="text-center mt-4 mb-5">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                </div>
                
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
             
                <a class="btn btn-primary btn-block">Reset Password</a>
                   
                <div class="text-center">
                    <a class="d-block small mt-3" href="/register">Register an Account</a>
                    <a class="d-block small" href="/login">Login Page</a>
                </div>
            </fieldset>
        </form>
    </div>
  </div>
{% endblock content %}