SECRET_KEY='123654789'
# Set the application in debug mode so that the server is reloaded on any code change & helps debug
DEBUG=True
# Enable protection agains *Cross-site Request Forgery (CSRF)*
CSRF_ENABLED=True

# DB Config
SQLALCHEMY_DATABASE_URI='postgresql://dev_user:dev_pass@localhost/projetofinal_dev'
#SQLALCHEMY_DATABASE_URI='postgresql://postgres:admin@localhost/projetofinal_dev'

#SQLALCHEMY_DATABASE_URI= 'postgres://yqdsrozdrqnusa:2ce55a372d73dbb598385fd1ecd191bf1cb72220cfc10b1d7cf2dfc5a85bcbbd@ec2-184-73-199-189.compute-1.amazonaws.com:5432/d6mld1r76523f9'
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Security package configurations == Feature Flags
SECURITY_REGISTERABLE=True
SECURITY_RECOVERABLE=True
SECURITY_CHANGEABLE=True
# Tirar isto quando se colocar confirmacao conta por email
SECURITY_SEND_REGISTER_EMAIL=False
# Specifies the default view to redirect to after a user logs in.
SECURITY_POST_LOGIN_VIEW = '/quickstart'

SECURITY_PASSWORD_HASH='bcrypt'
SECURITY_PASSWORD_SALT='$2a$16$PnnIgfMwkOjGX4SkHqSOPO'

MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USE_TLS= True
MAIL_USE_SSL = False
MAIL_USERNAME = 'zeusnoreply@gmail.com'
MAIL_PASSWORD = 'KWbLdVZxq5IJ'
MAIL_DEFAULT_SENDER = 'zeusnoreply@gmail.com'


# Tirar isto quando se colocar confirmacao conta por email
# app.config['SECURITY_SEND_REGISTER_EMAIL'] = False   
# app.config['SECURITY_EMAIL_SENDER'] = 'ZeusNoReply@gmail.com'

# Application threads. A common general assumption is
# using 2 per available processor cores - to handle
# incoming requests using one and performing background
# operations using the other.
THREADS_PER_PAGE = 2

DEBUG_TB_INTERCEPT_REDIRECTS=False
