{% extends "layouts/layout2.html" %}

{% block title %}
Quick-start page
{% endblock %}

{% block breadcrumb %} 
Geral view of all machines running the agent
{% endblock %}

{% block script %} 
<script> 
document.addEventListener('DOMContentLoaded', function main(e) {
  $('#refresh').click(function() {
    window.location.reload();
  });
  
  function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
  }

  var d = new Date(); 
  var h = addZero(d.getHours());
  var m = addZero(d.getMinutes());
  var s = addZero(d.getSeconds());
  document.getElementById("demo").innerHTML = "Last update on " + d.toDateString() + ", precisely at: "+ h + ":" + m + ":" + s;
});
</script>
{% endblock %}

{% block content %}

<H1>DELETE MACHINE</H1>
<form method="DELETE" action="" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
      {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <strong>Title</strong> --> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
      {% endwith %}

      <legend class="border-bottom mb-4">Machine Info</legend>
      <div class="form-group">
              {{ form.machine.label(class="form-control-label") }}
              {{ form.machine(class="form-control form-control-lg") }}
      </div>

  </fieldset>
  <div class="form-group">
      {{ form.submit(class="btn btn-danger btn-block") }}
  </div>
</form>


<div class="card mb-3">
    <div class="card-header">
      <div class="row"> 
          <div class="col-10">
            <h2> 
              <i class="fa fa-laptop"></i> History of machines 
            </h2>
          </div>
          <div class="col">
            <a class="btn btn-primary" >
              <i class="fa fa-refresh fa-spin fa-lg fa-fw " id="refresh"></i>
            </a>
          </div>
      </div>
    </div>

    <!-- Representation of the scans -->
    <div class="card-body">
      <div class="row">
        {% for i in range(json_size) %}
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header text-center">
              <span class="badge badge-pill badge-primary"><i class="fa fas fa-desktop"></i></span> {{ APIcall["DetectOS"][i]["node"] }}              
            </h3>

            <a class="list-group-item list-group-item-action">
              <span class="badge badge-pill badge-light">
                  <h3>
                    {% if (APIcall["DetectOS"][i]["system"] == "Windows") %}
                      <i class="fa fab fa-windows"></i>  
                    {% endif %} 
                    {% if (APIcall["DetectOS"][i]["system"] == "Linux") %}
                      <i class="fa fab fa-linux"></i> 
                    {% endif %}

                    {% if (APIcall["DetectOS"][i]["system"] == "Apple") %}                                       
                    <i class="fa fab fa-apple"></i>
                    {% endif %} 
                  </h3> 
              </span>
              {{ APIcall["DetectOS"][i]["system"] }}
              
              {{ APIcall["DetectOS"][i]["release"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
              <span class="badge badge-pill badge-light">
                <h3><i class="fa fas fa-history"></i> </h3> 
              </span>
              Version:
              {{ APIcall["DetectOS"][i]["version"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
              <span class="badge badge-pill badge-light">
                <h3> <i class="fa fab fa-connectdevelop"></i></h3> 
              </span> 
              Architecture:
              {{ APIcall["DetectOS"][i]["machine"] }}
            </a>

            <a class="list-group-item list-group-item-action"> 
              <span class="badge badge-pill badge-light">
                <h3> <i class="fa fas fa-microchip"></i> </h3> 
              </span>
              {{ APIcall["DetectOS"][i]["processor"] }}
            </a>
            
            <div class="card-footer text-center">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="card-footer small text-muted" id="demo"> </div>
  </div>
</div>
{% endblock %}


    