{% extends "layouts/layout2.html" %}

{% block title %}
Quick-start page
{% endblock %}

{% block breadcrumb %} 
Quick Start
{% endblock %}

{% block content %}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<ul class="list-group list-group-flush">
    
    <li class="list-group-item"> 
        <h2>1. Custom your agent configuration </h2> 
        
        <!-- Switch -->
        <!-- Rounded switch -->
        <div class="row">
            <div class="column">
                <ul class="list-group">
                    <li class="list-group-item">ON/OFF</li>
                    <label></label>
                </ul>
            </div>  
            <div class="column">
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="column">
                <ul class="list-group">
                    <li class="list-group-item">ON/OFF</li>
                    <label></label>
                </ul>
            </div>    
            <div class="column">
                <ul class="list-group">
                    <li class="list-group-item"> 
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-xl-9 col-sm-6 mb-3"></div>
            <a href="/return-file/" class="btn btn-primary "> Download </a>
            <!-- <h5>--------------------------- OR ---------------------------</h5>     -->
        </div>
    </li>
 

    <li class="list-group-item"> 
        <h2>1. Download agent </h2> 
        <div class="col-xl-9 col-sm-6 mb-3"></div>
            <a href="/return-file/" class="btn btn-primary "> Download </a>
        </div>
    </li>
  
    <!-- <li class="list-group-item"> 
        <h2>2. Run agent on the machine </h2> 
        <div class="alert alert-dark" role="alert">
            <i class="fa fas fa-terminal" ></i>  
            python zeus.py
        </div>  
    </li> -->
        
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>


{% endblock %}
